## TDI Fellow Challenge

In [1]:
import pandas as pd
import numpy as np

In [2]:
arrest = pd.read_csv('Arrest_Data_from_2010_to_Present.csv')

In [3]:
arrest.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,191811472,05/03/2019,1700.0,18.0,Southeast,1802.0,23.0,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
1,5614161,04/29/2019,1040.0,8.0,West LA,842.0,41.0,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
2,5615197,04/30/2019,615.0,6.0,Hollywood,663.0,27.0,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"
3,5615701,04/30/2019,1100.0,9.0,Van Nuys,901.0,2.0,F,H,NaN,NaN,D,300(B)WIC,NaN,RAYMER,SEPULVEDA BL,"(34.2149, -118.4674)"
4,5615929,04/30/2019,1550.0,20.0,Olympic,2049.0,41.0,M,W,4.0,Aggravated Assault,F,245(A)(2)PC,ADW W/FIREARM,8TH ST,VERMONT,"(34.0578, -118.2916)"

In [4]:
#Checking the percentage of missing values in the remaining features
total = arrest.isnull().sum().sort_values(ascending=False)
per_miss_val = arrest.isnull().sum()/arrest.isnull().count()*100
per_miss_val = (round(per_miss_val, 2).sort_values(ascending=False))
per_miss_val

#Creating a percentage table for missing values
percent_missing_data = pd.concat([total, per_miss_val], axis=1, keys=['Total', 'Percentage'])
percent_missing_data

                          Total  Percentage
Address                       1        0.00
Age                           1        0.00
Area ID                       1        0.00
Area Name                     1        0.00
Arrest Date                   0        0.00
Arrest Type Code              1        0.00
Charge                        1        0.00
Charge Description        18088        9.31
Charge Group Code         18117        9.32
Charge Group Description  18168        9.35
Cross Street              73309       37.72
Descent Code                  1        0.00
Location                      1        0.00
Report ID                     0        0.00
Reporting District            1        0.00
Sex Code                      1        0.00
Time                         44        0.02

In [5]:
# Checking information of the data
arrest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194374 entries, 0 to 194373
Data columns (total 17 columns):
Report ID                   194374 non-null int64
Arrest Date                 194374 non-null object
Time                        194330 non-null float64
Area ID                     194373 non-null float64
Area Name                   194373 non-null object
Reporting District          194373 non-null float64
Age                         194373 non-null float64
Sex Code                    194373 non-null object
Descent Code                194373 non-null object
Charge Group Code           176257 non-null float64
Charge Group Description    176206 non-null object
Arrest Type Code            194373 non-null object
Charge                      194373 non-null object
Charge Description          176286 non-null object
Address                     194373 non-null object
Cross Street                121065 non-null object
Location                    194373 non-null object
dtypes: float64(5), int64(1), object(11)
memory usage: 17.1+ MB

In [6]:
# Changing the arrest date to a pandas date time
arrest['Arrest Date'] = pd.to_datetime(arrest['Arrest Date'])

In [7]:
arrest.tail()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
194369,120919595,2012-10-20,1300.0,9.0,Van Nuys,914.0,12.0,F,H,6.0,Larceny,M,490.1PC,PETTY THEFT UNDER $50.00,15200 SHERMAN WY,NaN,"(34.2012, -118.464)"
194370,121009840,2012-04-28,1950.0,10.0,West Valley,1027.0,46.0,M,H,18.0,Drunkeness,M,41.27CLAMC,DRINKING IN PUBLIC,LOUISE AV,SHERMAN WY,"(34.2012, -118.5099)"
194371,121010460,2012-05-15,1950.0,10.0,West Valley,1008.0,45.0,M,W,18.0,Drunkeness,M,41.27CLAMC,DRINKING IN PUBLIC,VANOWEN ST,HAYVENHURST AV,"(34.1939, -118.4924)"
194372,121014091,2012-08-01,1915.0,10.0,West Valley,1027.0,54.0,M,B,18.0,Drunkeness,M,41.27CLAMC,DRINKING IN PUBLIC,SHERMAN WY,LOUISE,"(34.2012, -118.5099)"
194373,120919940,2012-10-27,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Creating a new column of year
arrest['year'] = arrest['Arrest Date'].dt.year

In [9]:
# Filtering to check how many arrests happened in 2018
arrest[arrest['year']==2018].shape[0]

1446

In [10]:
# Checking the counts for each year
arrest['year'].value_counts()

2010    56655
2011    53475
2019    51318
2012    27178
2018     1446
2014     1166
2017      928
2013      852
2015      693
2016      663
Name: year, dtype: int64

In [11]:
arrest[arrest['Charge Group Description'].isin(['Vehicle Theft','Robbery', 'Burglary', 'Receive Stolen Property'])]['Age'].quantile(.95)

52.0

In [12]:
# Creating a new dataframe for just the year 2018
a = arrest[arrest['year']==2018]
# Checking the size of the new dataframe
a.shape

(1446, 18)

In [14]:
# Checking how many missing values are in the dataframee I created
total = a.isnull().sum().sort_values(ascending=False)
total

Cross Street                658
Charge Group Description    205
Charge Description          202
Charge Group Code           202
Time                          1
year                          0
Age                           0
Arrest Date                   0
Area ID                       0
Area Name                     0
Reporting District            0
Descent Code                  0
Sex Code                      0
Location                      0
Arrest Type Code              0
Charge                        0
Address                       0
Report ID                     0
dtype: int64

In [15]:
a.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,year
156,5213460,2018-01-24,1930.0,6.0,Hollywood,668.0,29.0,M,H,10.0,Fraud/Embezzlement,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,ST ANDREWS,FOUNTAIN,"(34.0949, -118.3109)",2018
157,5257944,2018-03-15,310.0,7.0,Wilshire,743.0,33.0,F,O,1.0,Homicide,F,191.5(B)PC,VEH MANSLAUGHTR/OPER VESSEL DUI & DUR FEL,OLYMPIC,MASSELIN,"(34.0574, -118.3547)",2018
158,5328813,2018-06-01,1800.0,3.0,Southwest,356.0,44.0,F,B,16.0,Narcotic Drug Laws,F,11379(A)HS,TRANSPORT/SELL CONTROLLED SUBSTANCE,1600 W 36TH PL,NaN,"(34.0219, -118.3061)",2018
159,5336331,2018-06-10,200.0,13.0,Newton,1364.0,23.0,M,H,12.0,Weapon (carry/poss),F,25400(A)2PC,CARRYING CONCEALED WEAPON UPON PERSON,1200 E 50TH ST,NaN,"(33.998, -118.2543)",2018
160,5360731,2018-07-07,2330.0,18.0,Southeast,1832.0,32.0,M,B,12.0,Weapon (carry/poss),F,29800(A)1PC,POSS F/ARM BY CONVICTED FELON/ADDICT/ETC,10700 S MAIN ST,NaN,"(33.9392, -118.2739)",2018

In [16]:
a[a['Charge Group Description'].isin(['Vehicle Theft','Robbery', 'Burglary', 'Receive Stolen Property'])]['Age'].quantile(.95)

54.099999999999966

In [17]:
# How many bookings of arrestees were made in the area with the most arrests in 2018?
# Doing a value count on Area Name for the year 2018
a['Area Name'].value_counts()

Central        152
Southwest      124
77th Street    117
Rampart        104
Olympic         95
Hollywood       91
Newton          89
Pacific         69
Van Nuys        64
Southeast       62
Northeast       61
Foothill        58
Hollenbeck      45
Mission         45
Devonshire      43
Wilshire        43
West LA         41
West Valley     40
Harbor          37
N Hollywood     33
Topanga         33
Name: Area Name, dtype: int64

In [18]:
# Dropping missing rows of arrests for the Charge Group
a = a.dropna(axis=0, subset=['Charge Group Description'])
a = a.set_index("Charge Group Description")

In [20]:
# Dropping rows with 'Pre-Delinquency' and 'Non-Criminal Detention' arrests
a = a.drop(['Pre-Delinquency', 'Non-Criminal Detention'], axis=0)
a.shape # Checking the shape

(1235, 17)

In [22]:
a.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,year
Charge Group Description,,,,,,,,,,,,,,,,,
Fraud/Embezzlement,5213460,2018-01-24,1930.0,6.0,Hollywood,668.0,29.0,M,H,10.0,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,ST ANDREWS,FOUNTAIN,"(34.0949, -118.3109)",2018
Homicide,5257944,2018-03-15,310.0,7.0,Wilshire,743.0,33.0,F,O,1.0,F,191.5(B)PC,VEH MANSLAUGHTR/OPER VESSEL DUI & DUR FEL,OLYMPIC,MASSELIN,"(34.0574, -118.3547)",2018
Narcotic Drug Laws,5328813,2018-06-01,1800.0,3.0,Southwest,356.0,44.0,F,B,16.0,F,11379(A)HS,TRANSPORT/SELL CONTROLLED SUBSTANCE,1600 W 36TH PL,NaN,"(34.0219, -118.3061)",2018
Weapon (carry/poss),5336331,2018-06-10,200.0,13.0,Newton,1364.0,23.0,M,H,12.0,F,25400(A)2PC,CARRYING CONCEALED WEAPON UPON PERSON,1200 E 50TH ST,NaN,"(33.998, -118.2543)",2018
Weapon (carry/poss),5360731,2018-07-07,2330.0,18.0,Southeast,1832.0,32.0,M,B,12.0,F,29800(A)1PC,POSS F/ARM BY CONVICTED FELON/ADDICT/ETC,10700 S MAIN ST,NaN,"(33.9392, -118.2739)",2018

In [23]:
mean = a.groupby(['Charge Group Description']).Age.transform('mean')
std = a.groupby(['Charge Group Description']).Age.transform('std')

In [24]:
z_score = (a.Age - mean)/std
z_score = pd.DataFrame(z_score)

In [25]:
z_score.max()

Age    3.479644
dtype: float64

In [26]:
a = a.reset_index()

In [27]:
a.head()

,Charge Group Description,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location,year
0,Fraud/Embezzlement,5213460,2018-01-24,1930.0,6.0,Hollywood,668.0,29.0,M,H,10.0,F,530.5(A)PC,GET CREDIT/ETC OTHER'S ID,ST ANDREWS,FOUNTAIN,"(34.0949, -118.3109)",2018
1,Homicide,5257944,2018-03-15,310.0,7.0,Wilshire,743.0,33.0,F,O,1.0,F,191.5(B)PC,VEH MANSLAUGHTR/OPER VESSEL DUI & DUR FEL,OLYMPIC,MASSELIN,"(34.0574, -118.3547)",2018
2,Narcotic Drug Laws,5328813,2018-06-01,1800.0,3.0,Southwest,356.0,44.0,F,B,16.0,F,11379(A)HS,TRANSPORT/SELL CONTROLLED SUBSTANCE,1600 W 36TH PL,NaN,"(34.0219, -118.3061)",2018
3,Weapon (carry/poss),5336331,2018-06-10,200.0,13.0,Newton,1364.0,23.0,M,H,12.0,F,25400(A)2PC,CARRYING CONCEALED WEAPON UPON PERSON,1200 E 50TH ST,NaN,"(33.998, -118.2543)",2018
4,Weapon (carry/poss),5360731,2018-07-07,2330.0,18.0,Southeast,1832.0,32.0,M,B,12.0,F,29800(A)1PC,POSS F/ARM BY CONVICTED FELON/ADDICT/ETC,10700 S MAIN ST,NaN,"(33.9392, -118.2739)",2018

In [28]:
a[a['Address']=='PICO'].shape[0]

6